@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html, body {
    min-height: 100vh;
    background-color: darkgrey;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {
    padding-top: 50px;
    /*Duas formas de colocar as letras em maiúsculo
        text-transform: uppercase;
        font-variant: small-caps;*/
    font-variant: small-caps;
}

header > p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(29, 29, 29);
    color: white;
}

.imagem p {
    background-color: rgba(0, 0, 0, 0.151);
    width: 400px;
    padding: 10px;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}