@charset "UTF-8";

@font-face {
    font-family: 'Lexend Deca';
    src: url('fonte/LexendDeca-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Big Shoulders Display';
    src: url('fonte/BigShouldersDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
}

:root {
    --color01: hsl(31, 77%, 52%);
    --color02: hsl(184, 100%, 22%);
    --color03: hsl(179, 100%, 13%);
    --color04: hsla(0, 0%, 100%, 0.75);
    --color05: hsl(0, 0%, 95%)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Deca", monospace;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    width: 50%;
    height: 500px;
}

main img {
    width: 60px;
}

main h1 {
    font-family: "Big Shoulders Display", monospace;
    font-size: 2.5rem;
    color: #fff;
    margin: 1.8rem 0 1.8rem 0;
}

main p {
    line-height: 1.8rem;
    margin-bottom: 1.8rem;
}

main button {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1.8rem;
}

main button:hover {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}

.sedan {
    display: flex;
    flex-direction: column;
    background-color: var(--color01);
    color: var(--color04);
    border-radius: 10px 0 0 10px;
    padding: 3rem;
}

.sedan button {
    color: var(--color01);
}

.suvs {
    display: flex;
    flex-direction: column;
    background-color: var(--color02);
    color: var(--color04);
    padding: 3.2rem;
}

.suvs button {
    color: var(--color02);
}

.luxury {
    display: flex;
    flex-direction: column;
    background-color: var(--color03);
    color: var(--color04);
    border-radius: 0 10px 10px 0;
    padding: 3rem;
}

.luxury button {
    color: var(--color03);
}